*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  background-color:hsl(226, 43%, 10%)
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}
a{
  color:white;
  text-decoration: none;
}

/*
- Mobile: 375px
- Desktop: 1440px
*/

@media only screen and (max-width: 375px) {
  .container{
    padding-top:130px;
    padding-right:25px;
    padding-left:25px;
    
  }
}








